{
    "extends": [
        "prettier",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "env": {
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    },
    "rules": {
        "prettier/prettier": ["warn"],
        "func-call-spacing": ["warn"],
        "block-spacing": ["warn"],
        "camelcase": "warn",
        "eqeqeq": "warn",
        "indent": [
            "warn",
            4,
            {
                "ignoreComments": true
            }
        ],
        "no-trailing-spaces": "warn",
        "wrap-iife": ["warn", "outside"],
        "no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
        "no-multiple-empty-lines": [
            "error",
            {
                "max": 1
            }
        ],
        "no-unreachable": "warn",
        "no-use-before-define": "error",
        "max-len": [
            "warn",
            {
                "code": 120,
                "comments": 100,
                "ignoreTrailingComments": true,
                "ignoreTemplateLiterals": true
            }
        ],
        "no-var": ["warn"],
        "object-curly-newline": [
            "error",
            {
                "ObjectExpression": {
                    "consistent": true,
                    "minProperties": 2,
                    "multiline": true
                },
                "ObjectPattern": {
                    "consistent": true,
                    "multiline": true
                },
                "ImportDeclaration": {
                    "consistent": true,
                    "multiline": true
                },
                "ExportDeclaration": {
                    "consistent": true,
                    "minProperties": 2,
                    "multiline": true
                }
            }
        ],
        "no-eq-null": "error",
        "require-jsdoc": [
            "error",
            {
                "require": {
                    "FunctionDeclaration": true,
                    "MethodDefinition": false,
                    "ClassDeclaration": false,
                    "ArrowFunctionExpression": false
                }
            }
        ],
        "semi": "error",
        "comma-dangle": ["error", "never"],
        "for-direction": "error",
        "getter-return": "error",
        "no-async-promise-executor": "error",
        "no-compare-neg-zero": "error",
        "no-cond-assign": "error",
        "no-constant-condition": "error",
        "no-control-regex": "error",
        "no-debugger": "error",
        "no-dupe-args": "error",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-empty-character-class": "error",
        "no-empty": [
            "error",
            {
                "allowEmptyCatch": true
            }
        ],
        "no-ex-assign": "error",
        "no-extra-boolean-cast": "error",
        "no-extra-semi": "error",
        "no-func-assign": "error",
        "no-inner-declarations": "error",
        "no-invalid-regexp": "error",
        "no-irregular-whitespace": "error",
        "no-misleading-character-class": "error",
        "no-obj-calls": "error",
        "no-prototype-builtins": "error",
        "no-regex-spaces": "error",
        "no-sparse-arrays": "error",
        "no-template-curly-in-string": "error",
        "no-unsafe-finally": "error",
        "no-unsafe-negation": "error",
        "require-atomic-updates": "error",
        "use-isnan": "error",
        "valid-typeof": [
            "error",
            {
                "requireStringLiterals": false
            }
        ],
        "no-unexpected-multiline": "error",
        "accessor-pairs": "error",
        "array-callback-return": "error",
        "block-scoped-var": "error",
        "complexity": "warn",
        "curly": "error",
        "default-case": "error",
        "dot-location": ["error", "property"],
        "guard-for-in": "error",
        "no-alert": "error",
        "no-caller": "error",
        "no-case-declarations": "error",
        "no-div-regex": "error",
        "no-else-return": [
            "error",
            {
                "allowElseIf": false
            }
        ],
        "no-empty-pattern": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-extra-label": "error",
        "no-fallthrough": "error",
        "no-floating-decimal": "error",
        "no-global-assign": "error",
        "no-implicit-coercion": "error",
        "no-implicit-globals": "error",
        "no-implied-eval": "error",
        "no-iterator": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-multi-spaces": "error",
        "no-multi-str": "error",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-new": "error",
        "no-octal-escape": "error",
        "no-octal": "error",
        "no-proto": "error",
        "no-redeclare": "error",
        "no-return-assign": ["error", "always"],
        "no-return-await": "error",
        "no-script-url": "error",
        "no-self-assign": [
            "error",
            {
                "props": true
            }
        ],
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-throw-literal": "error",
        "no-unmodified-loop-condition": "error",
        "no-unused-expressions": "error",
        "no-unused-labels": "error",
        "no-useless-call": "error",
        "no-useless-concat": "error",
        "no-useless-return": "error",
        "no-void": "error",
        "no-warning-comments": "warn",
        "no-with": "error",
        "prefer-promise-reject-errors": [
            "error",
            {
                "allowEmptyReject": true
            }
        ],
        "radix": "error",
        "require-await": "error",
        "yoda": "error",
        "no-delete-var": "error",
        "no-label-var": "error",
        "no-restricted-globals": ["error", "event"],
        "no-shadow-restricted-names": "error",
        "no-undef-init": "error",
        "no-undef": [
            "error",
            {
                "typeof": true
            }
        ],
        "no-unused-vars": [
            "error",
            {
                "ignoreRestSiblings": true,
                "argsIgnorePattern": "^_$"
            }
        ],
        "handle-callback-err": "warn",
        "no-buffer-constructor": "error",
        "no-mixed-requires": [
            "error",
            {
                "grouping": true,
                "allowCall": true
            }
        ],
        "no-new-require": "error",
        "no-path-concat": "error",
        "no-restricted-imports": [
            "error",
            "domain",
            "freelist",
            "smalloc",
            "sys",
            "colors"
        ],
        "no-restricted-modules": [
            "error",
            "domain",
            "freelist",
            "smalloc",
            "sys",
            "colors"
        ],
        "array-bracket-newline": ["error", "consistent"],
        "array-element-newline": ["error", "consistent"],
        "brace-style": [
            "error",
            "1tbs",
            {
                "allowSingleLine": false
            }
        ],
        "comma-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "comma-style": ["error", "last"],
        "computed-property-spacing": ["error", "never"],
        "func-name-matching": [
            "error",
            {
                "considerPropertyDescriptor": true
            }
        ],
        "func-names": ["error", "never"],
        "jsx-quotes": "error",
        "key-spacing": [
            "error",
            {
                "beforeColon": false,
                "afterColon": true
            }
        ],
        "keyword-spacing": "error",
        "lines-between-class-members": ["error", "always"],
        "max-depth": "warn",
        "max-nested-callbacks": ["warn", 4],
        "max-params": [
            "warn",
            {
                "max": 4
            }
        ],
        "max-statements-per-line": "error",
        "new-cap": [
            "error",
            {
                "newIsCap": true,
                "capIsNew": true
            }
        ],
        "new-parens": "error",
        "no-array-constructor": "error",
        "no-lonely-if": "error",
        "no-mixed-operators": "error",
        "no-new-object": "error",
        "no-restricted-syntax": ["error", "WithStatement"],
        "no-whitespace-before-property": "error",
        "no-unneeded-ternary": "error",
        "one-var-declaration-per-line": "error",
        "operator-assignment": ["error", "always"],
        "operator-linebreak": ["error", "after"],
        "quote-props": ["error", "as-needed"],
        "semi-spacing": [
            "error",
            {
                "before": false,
                "after": true
            }
        ],
        "semi-style": ["error", "last"],
        "space-before-blocks": ["error", "always"],
        "space-in-parens": ["error", "never"],
        "space-infix-ops": "error",
        "space-unary-ops": "error",
        "spaced-comment": [
            "error",
            "always",
            {
                "line": {
                    "exceptions": ["-", "+", "*"],
                    "markers": ["!", "/", "=>"]
                },
                "block": {
                    "exceptions": ["-", "+", "*"],
                    "markers": ["!", "*"],
                    "balanced": true
                }
            }
        ],
        "switch-colon-spacing": [
            "error",
            {
                "after": true,
                "before": false
            }
        ],
        "template-tag-spacing": ["error", "never"],
        "unicode-bom": ["error", "never"],
        "arrow-parens": ["error", "as-needed"],
        "arrow-spacing": [
            "error",
            {
                "before": true,
                "after": true
            }
        ],
        "constructor-super": "error",
        "generator-star-spacing": ["error", "both"],
        "no-class-assign": "error",
        "no-const-assign": "error",
        "no-dupe-class-members": "error",
        "no-new-symbol": "error",
        "no-this-before-super": "error",
        "no-useless-computed-key": "error",
        "no-useless-constructor": "error",
        "no-useless-rename": "error",
        "require-yield": "error",
        "rest-spread-spacing": ["error", "never"],
        "symbol-description": "error",
        "template-curly-spacing": "error",
        "yield-star-spacing": ["error", "both"]
    }
}
